.myProfileBody {
    width: 100%;
    height: 100%;
    background-color: white;
}
.myProfileWrapper {
    width: 960px;
    box-sizing: border-box;
    padding-top: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.myProfileRight {
    width: 625px;
    height: 100%;
    background: white;

}
.myProfileAbout {
    width: 280px;
}